<form #myForm="ngForm" class="col-md-12">
  <div class="col-md-3">
    <label>Pin Code: </label>&nbsp;&nbsp;
    <input class="form-control" type="text" name="pin" id="pin" maxlength="6" minlength="6"
     [(ngModel)]="pin" required>
    &nbsp;&nbsp;
  </div>
  <div class="col-md-3">
    <label>Age: </label>&nbsp;&nbsp;
    <select class="col-md-3 form-control" [(ngModel)]="age" name="age">
      <option value="-1">Both</option>
      <option value="18">18+</option>
      <option value="45">45+</option>
    </select>
  </div>
  <div class="col-md-6">
    <button type="submit" [hidden]="!myForm.valid || error.length > 0" style="margin-top: 25px;">
      Searching for slots...
    </button>&nbsp;&nbsp;
    <span style="color: red;">{{error}}</span>
  </div>
</form>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let r of result">
  <div class="header mb-5">
    <p><b>{{ r.name }}</b><br>
      {{ r.address + ", " + r.dist }}</p>
    <div class="col-md-12">
      <div class="col-md-12" *ngIf="age == 18 || age == -1">
        <span style="color: blue;"> Age 18+ </span>
        <div class="col-md-12 h30">
          <label>{{ today }} :</label>
          <span [ngClass]="!r.todaySession[0] ? 'not-available' : 'available'">
            {{ r.todaySession[0] || 'NA'}}</span>
        </div>
        <div class="col-md-12 h30">
          <label>{{ tommorrow }} :</label>
          <span [ngClass]="!r.tommorrowSession[0] ? 'not-available' : 'available'">
            {{ r.tommorrowSession[0] || 'NA'}}</span>
        </div>
        <div class="col-md-12 h30">
          <label>{{ dayAfterTommorrow }} :</label>
          <span [ngClass]="!r.dayAfterSession[0] ? 'not-available' : 'available'">
            {{ r.dayAfterSession[0] || 'NA'}}</span>
        </div>
      </div>
      <div class="col-md-12" *ngIf="age == 45 || age == -1">
        <span style="color: blue;"> Age 45+ </span>
        <div class="col-md-12 h30">
          <label>{{ today }} :</label>
          <span [ngClass]="!r.todaySession[1] ? 'not-available' : 'available'">
            {{ r.todaySession[1] || 'NA'}}</span>
        </div>
        <div class="col-md-12 h30">
          <label>{{ tommorrow }} :</label>
          <span [ngClass]="!r.tommorrowSession[1] ? 'not-available' : 'available'">
            {{ r.tommorrowSession[1] || 'NA'}}</span>
        </div>
        <div class="col-md-12 h30">
          <label>{{ dayAfterTommorrow }} :</label>
          <span [ngClass]="!r.dayAfterSession[1] ? 'not-available' : 'available'">
            {{ r.dayAfterSession[1] || 'NA'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12" *ngIf="result?.length == 0">No centers available till now..</div>
<div class="col-md-12">
  Status
  <div class="col-md-12">
    <label>Total Request :</label>
    <span>{{ noOfReq }}</span>
  </div>
  <div class="col-md-12">
    <label>Failed Request:</label>
    <span>{{ reqFailed }}</span>
  </div>
</div>